<section>
<h1>Blogroll</h1>
<ul>
	<li><a href="http://8bitpeoples.com">8bitpeoples</a></li>
	<li><a href="http://andrewsullivan.thedailybeast.com">Andrew Sullivan</a></li>
	<li><a href="http://www.bitch.org">Bitch Blogs</a></li>
	<li><a href="http://blunderyears.tumblr.com">The Blunder Years</a></li>
	<li><a href="http://dtrace.org/blogs/brendan/">Brendan Gregg's blog</a></li>
	<li><a href="http://charlywrites.blogspot.com">Charly Writes</a></li>
	<li><a href="http://codinghorror.com">Coding Horror</a></li>
	<li><a href="http://danielyrogers.com">Daniel Rogers Directs Theatre</a></li>
	<li><a href="http://www.delightfulwrites.com">Delightful Writes</a></li>
	<li><a href="http://blog.regehr.org">Embedded in Academia</a></li>
	<li><a href="http://helpfulfigures.com">Helpful Figures</a></li>
	<li><a href="http://ifyoucanreadthisyourelying.blogspot.com">If You Can Read This You're Lying</a></li>
	<li><a href="http://jabwhack.tumblr.com">Jab! Whack! Stab!</a></li>
	<li><a href="http://prog21.dadgum.com">James Hague</a></li>
	<li><a href="http://jwz.org/blog/">jwz</a></li>
	<li><a href="http://lambda-the-ultimate.org">Lambda the Ultimate</a></li>
	<li><a href="http://www.loweringthebar.net">Lowering the Bar</a></li>
	<li><a href="http://matt.might.net/articles/">Matt Might</a></li>
	<li><a href="http://www.meronoiac.com/">Meronoiac: Karl Pichotta</a></li>
	<li><a href="http://nealpoole.com">Neal Poole</a></li>
	<li><a href="http://popehat.com">Popehat</a></li>
	<li><a href="http://scdojo.tumblr.com">SC Dojo</a></li>
	<li><a href="http://www.schneier.com/blog/">Schneier on Security</a></li>
	<li><a href="http://semblare.com">Semblare</a></li>
	<li><a href="http://slog.thestranger.com">Slog</a></li>
	<li><a href="http://taraschuster.tumblr.com">Tara Schuster</a></li>
	<li><a href="http://batsov.com">(think)</a></li>
	<li><a href="http://whatindarnation.tumblr.com">What in Dar Nation</a></li>
</ul>
</section>
